@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: url(./img/background_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1240px;
  /*height: 1036px;*/
  background: rgba(0, 0, 0, 0.3);
  margin: 2.75% auto;
}

.header {
  text-align: center;
}

.title {
  font-size: 3.1rem;
  font-family: "Bowlby One SC", cursive;
  color: #fff;
}

.title-part2 {
  color: #ff0000;
}

.desc {
  color: #fff;
  font-family: "Sorts Mill Goudy", serif;
}

.feedback {
  resize: none;
}

.form-container {
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 30px 40px;
}

#comedy {
  accent-color: green;
}

#name,
#age,
#email,
#content-type,
#feedback {
  width: 100%;
  padding: 12px 10px;
  margin-top: 10px;
}

.input-box {
  margin-top: 10px;
  /*font-family: constella;*/
}

.form-btn {
  width: 160px;
  height: 45px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #fff;
  color: #ff0000;
}

.form-submit {
  width: 160px;
  margin: auto;
  margin-top: 15px;
}

@font-face {
  font-family: constella;
  src: url(./fonts/constella.ttf);
}
